In [37]:
import os
import pandas as pd
from ydata_profiling import ProfileReport


dataset = pd.read_csv("taxi_zone_lookup .csv")
profile = ProfileReport(dataset, title="Profiling Report")

ModuleNotFoundError: No module named 'ydata_profiling'

In [27]:
dataset = pd.read_csv("taxi_zone_lookup .csv")

In [29]:
dataset.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [31]:
dataset.tail()

     LocationID    Borough                Zone service_zone
260         261  Manhattan  World Trade Center  Yellow Zone
261         262  Manhattan      Yorkville East  Yellow Zone
262         263  Manhattan      Yorkville West  Yellow Zone
263         264    Unknown                  NV          NaN
264         265    Unknown                 NaN          NaN

In [24]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68211 entries, 0 to 68210
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               68211 non-null  int64
 1   lpep_pickup_datetime   68211 non-null  object
 2   lpep_dropoff_datetime  68211 non-null  object
 3   store_and_fwd_flag     63887 non-null  object
 4   RatecodeID             63887 non-null  float64
 5   PULocationID           68211 non-null  int64
 6   DOLocationID           68211 non-null  int64
 7   passenger_count        63887 non-null  float64
 8   trip_distance          68211 non-null  float64
 9   fare_amount            68211 non-null  float64
 10  extra                  68211 non-null  float64
 11  mta_tax                68211 non-null  float64
 12  tip_amount             68211 non-null  float64
 13  tolls_amount           68211 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  68211 non-null  float64
 16  total_amount           68211 non-null  float64
 17  payment_type           63887 non-null  float64
 18  trip_type              63877 non-null  float64
 19  congestion_surcharge   63887 non-null  float64
dtypes: float64(14), int64(3), object(3)
memory usage: 10.4+ MB

In [26]:
dataset.isnull().sum()

VendorID                     0
lpep_pickup_datetime         0
lpep_dropoff_datetime        0
store_and_fwd_flag        4324
RatecodeID                4324
PULocationID                 0
DOLocationID                 0
passenger_count           4324
trip_distance                0
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
ehail_fee                68211
improvement_surcharge        0
total_amount                 0
payment_type              4324
trip_type                 4334
congestion_surcharge      4324
dtype: int64

In [34]:
dataset['trip_distance'].value_counts()

trip_distance
0.00       3350
1.40        639
1.30        575
1.20        531
1.50        491
           ...
18.00         1
35.36         1
15.54         1
16.77         1
4070.82       1
Name: count, Length: 1870, dtype: int64

In [36]:
dataset['fare_amount'].value_counts()

fare_amount
10.00    3234
8.60     3171
9.30     3003
7.90     2902
10.70    2811
         ...
23.14       1
35.71       1
21.83       1
17.81       1
4.41        1
Name: count, Length: 2553, dtype: int64

In [52]:
dataset.select_dtypes(object)

      lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag
0      2023-01-01 00:26:10   2023-01-01 00:37:11                  N
1      2023-01-01 00:51:03   2023-01-01 00:57:49                  N
2      2023-01-01 00:35:12   2023-01-01 00:41:32                  N
3      2023-01-01 00:13:14   2023-01-01 00:19:03                  N
4      2023-01-01 00:33:04   2023-01-01 00:39:02                  N
...                    ...                   ...                ...
68206  2023-01-31 22:29:00   2023-01-31 22:42:00                NaN
68207  2023-01-31 22:40:00   2023-01-31 22:48:00                NaN
68208  2023-01-31 23:46:00   2023-02-01 00:02:00                NaN
68209  2023-01-31 23:01:00   2023-01-31 23:19:00                NaN
68210  2023-01-31 23:51:00   2023-02-01 00:07:00                NaN

[68211 rows x 3 columns]